h1{
  color: red;
  font-size: 150px;
}

h1:hover{
  color: gold;
}

img{
  background-color: red;
  border-radius: 100%;
}

img:hover{
  background-color: gold;
}

p{
  color: red;
}

p:hover{
  color: orange;
}
